/* 
Bluewave Rouge for Poal.co
Version: 2.5.1
Code URL: https://code.sandiamesa.com/sandiamesa/bluewaverouge

Copyright (C) 2020 Sandia Mesa Animation Studios
Licensed under the MIT License. */

.th-navbar.pure-g {
	background-color: #09f;
}

.th-subbar.pure-u-1 {
    background: #00bfff;
    border-bottom: 1px solid #fff;
}

.expando svg,
.p-icon path,
.commenticon svg,
.iconlinktxt,
.c-downvote svg,
.c-upvote svg,
.downvote svg,
.upvote svg,
body .editbar path {
    fill: #fff;
}

.links a:hover svg path,
.links .expando:hover svg path,
.dropdown.dropdown-menu a:hover path,
#usermenu-content a:hover path,
.editbar a:hover path,
.dropdown-toggle.moremenu:hover path,
.expando svg:hover,
a.commenticon svg:hover,
.comcombo:hover .commenticon svg,
body .editbar:hover path,
.dropdown-menu a:hover path {
	fill: rgb(179, 255, 255);
}

.post {
	background-color: rgba(255,255,255,0.1);
}

.post:hover {
	background-color: rgba(255,255,255,0.15);
}

.sidebarlists,
.sidebar p,
.sidebar a:link,
.sidebar a:visited,
.loadchildren,
.usermenu,
.alldaposts a.comamount,
.links a.comamount,
body .post .post-heading .title,
.score,
.deleted,
.score.archived,
.post .author,
.createdby,
.cmnts2 a,
.createdby a,
.commenthead a,
.combar,
h4,
h3,
h2,
#hiddensubs li a,
.dropdown .dropbtn,
.content,
#container2,
body .form label,
body .pure-control-group label,
.comment .content,
#postcontent,
a,
.cw-items a:visited,
.bold.menuscore,
.commenthead,
.subs,
.th-subbar ul li a,
.links li a,
.links a,
.commenthead, .subs {
	color: white;
}

.separator {
	border-left: 1px dotted white;
}

#usermenu-content,
#hiddensubs {
	background-color: #00b3f4;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#usermenu-content a:hover,
#hiddensubs li:focus,
#hiddensubs li:hover {
	background: rgba(0,0,0,0.25);
}

.sidebarlists a:not([class*="-button"]):focus,
.sidebarlists a:not([class*="-button"]):hover,
.loadchildren:focus,
.loadchildren:hover,
.links li a:hover,
.alldaposts a.comamount:hover,
a.comamount:hover,
body .post .post-heading .title:hover,
body .links .comcombo a:hover {
	color: rgb(179, 255, 255);
}

button.usermenu:focus,
button.usermenu:hover {
	color: rgb(179, 255, 255);
}

.dropdown-content {
	background-color: #fff !important;
	margin-top: 0;
	padding-top: 0.2em;
}

body .comments-block,
body .subs .parv,
body .commenthead a.parv {
	color: #fff !important;
}

body .comments-block .dropdown-content a:hover, body .comments-block .dropdown-content a:focus {
	background-color: #75a4ef !important;
	color: #fff !important;
}

body {
	background: rgb(0, 115, 230);
}

/* Maintain a Poal chatroom similar to the older light mode. */
body #chpop, #chsend {
	background: #fff;
	color: #000;
}

#chpop a {
	color: #0036aa;
}

#chpop a:hover {
	color: #547fdd;
}

::selection {
	background: #004993;
	color: white;
}

.post .parv {
	color: white;
}

.expandotxt .iframewrapper {
	background: none !important;
}

.post .expandotxt,
.post:nth-child(2n) .expandotxt {
	background-color: rgba(255,255,255,0.2);
	border-bottom-left-radius: 2em;
}

.post:nth-child(2n) .expandotxt,
.expando,
.expandotxt,
.expandotxt h3,
.expandotxt a,
body .comments-block .bottombar.links li a {
	color: white !important;
}

.expandotxt a:hover,
.expandotxt a:focus,
body .comments-block a:focus,
body .comments-block a:hover,
body .comments-block .bottombar.links li a:hover,
body .comments-block .bottombar.links li a:focus,
body .comments:hover,
body .comments:focus,
#topbar a:hover,
#hiddensubs li:hover a {
	color: rgb(179, 255, 255) !important;
}

.thumbnail .placeholder svg path {
	fill: white !important;
}

body .sbm-post.pici-button {
	border: none;
	background-color: #ff8f02;
	color: white !important;
}

.subinfo a {
	color: white;
}

.subinfo a:focus,
.subinfo a:hover {
	color: rgb(179, 255, 255);
}

.stickyposts .post {
	background-color: rgba(0,247,61,0.2);
}

#postcontent,
#sortcomments > article.comment,
.dropdown .dropbtn {
	background: rgba(61,61,61,0.2);
}

article.comment:nth-child(1n) {
	background: none;
}

.dropdown .dropbtn:focus,
.dropdown .dropbtn:hover {
	background: rgba(255,255,255,0.2);
}

.commblock .content a,
#postcontent a:any-link,
#postcontent a:any-link:visited,
.commblock .content del,
#postcontent del,
.sbm-post.pure-button.button-xsmall.pure-button-primary.pure-u-md-7-24 {
	color: white !important;
}

.commblock .content a:focus,
.commblock .content a:hover,
#postcontent a:any-link:hover,
#postcontent a:any-link:visited:hover,
body #postcontent a:link:focus,
#postcontent a:any-link:visited:focus {
	color: rgb(179, 255, 255) !important;
}

.comment-thread {
	background-color: rgba(66,66,66,0.3);
}

.comment-thread:hover {
	background-color: rgba(66,66,66,0.4);
}

article.comment.highlight {
	background-color: rgba(66,66,66,0.4) !important;
}

.pure-button {
	background-color: #5892ef !important;
}

.dropdown-toggle.moremenu {
	height: 1.1em;
	margin-top: -0.05em;
}

.dropdown-toggle.moremenu .tx-icon svg {
	top: -.05em;
}

.dropdown-toggle.moremenu:hover {
	background-color: #02a8e0;
}

.pure-button.pure-button-primary:focus,
.pure-button.pure-button-primary:hover {
	color: white !important;
	background-color: #00bfff !important;
	border: 2px solid white;
}

#sortbuttons .pure-button-primary {
	border: none !important;
	font-weight: bold;
}

.red-confirm {
	color: #fff;
	font-weight: bold;
	text-shadow:
		-1px -1px 0 #e22,
		1px -1px 0 #e22,
		-1px 1px 0 #e22,
		1px 1px 0 #e22; 
}

#postcontent textarea,
.commblock textarea,
.pure-form textarea {
	color: black;
	background-color: white;
	border-color: hsl( 198, 50%, 73% );
}

.editbtns div svg path {
	fill: white !important;
}

.editbtns div,
.sort-comsb {
	border-color: white;
}

.moderators,
.moderators ul li a,
.post .author,
.createdby,
.cmnts2 a,
.createdby a,
.commenthead a {
	color: white;
}

.moderators ul li a:hover,
.moderators ul li a:focus,
.cmnts2 a:focus,
.cmnts2 a:hover,
.createdby a:hover,
.createdby a:focus,
.commenthead a:hover,
.commenthead a:focus,
a.comamount:hover,
.alldaposts a.comamount:hover,
ul.links a:hover {
	color: rgb(179, 255, 255);
}

.moderators .i-icon svg path {
	fill: gold;
}

a.lv30, .sidebar a.lv30 {
	color: #ef0707;
}

a.lv2, body .sidebar a.lv2 {
	color: #3e9a42;
}

.c-upvote.upvoted svg path,
.upvote.upvoted svg path {
	fill: #7CFC00;
}

.c-downvote.downvoted svg path,
.downvote.downvoted svg path {
	fill: #fc6464 !important;
}

a.ppv {
	color: #7CFC00;
}

a.ddv {
	color: #eaadad;
}

a.lv6, a.lv20, a.lv0, a.lv30, a.lv2 {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

body a[class^="lv"]:hover {
	color: #bbb !important;
}

a.lv20, .sidebar a.lv20 {
	color: #e8a302 !important;
}

a.lv0, body .sidebar a.lv0 {
	color: #009cb3;
}

a.lv6, .sidebar a.lv6 {
	color: #efd700;
}

.cmpreview.canclose,
.cmpreview h4,
.cmpreview.canclose a {
	color: white !important;
}

.cmpreview.canclose a:hover,
.cmpreview.canclose a:focus {
	color: rgb(179, 255, 255);
}

.cmpreview.canclose del {
	color: white !important;
}

.search .icon path {
	fill: #00bbff;
}

input[type="search"] {
	background-color: white;
	border-color: hsl( 198, 50%, 73% );
	color: #53a3c6;
}

.sidebarlists {
	background-color: rgba(61,61,61,0.2);
}

.commenthead {
	background-color: rgba(46,46,46,0.3);
}

.sidebarlists.head {
	background-color: rgba(46,46,46,0.4);
}
input[type="search"]::placeholder {
	color: rgb(0, 187, 255);
}

h5 {
	background: -webkit-linear-gradient(#fff 51.68%, #B3FFFF 65.13%) !important;
	-webkit-background-clip: text !important;
}

.cpreview-content blockquote,
.commblock .content blockquote,
#postcontent blockquote {
	color: rgb(179, 255, 255) !important;
}

code {
	color: white;
	background: #05568c;
}

hr {
	border-bottom: 2px dashed white;
}

.highlight {
	background-color: #49aaf4;
}

#poalservices {
	color: white;
}

.pure-button.button-secondary[href="/register"],
.th-navbar.pure-g .pure-button.pure-button-primary {
	border: 2px solid white;
}

/*Sidebar button for mobile */
@media only screen and (max-width: 599px) {
	.th-subbar a {
		color: #fff !important;
	}
}
.button-secondary:hover,
.button-secondary:focus {
	background-color: #00bfff !important;
}

.button-warning {
	color: #fff;
	fill: #fff;
}

.sbm-post.pure-button {
	background-color: #00bfff !important;
	color: white;
}

#sortbuttons .pure-button-primary {
	background-color: #00bfff !important;
}

.footer,
.footer a {
	color: white;
}

.stick {
	color: #7CFC00;
	border-color: #7CFC00;
}

#postflairs {
	border-color: white;
	border-radius: 5px;
	color: white;
	fill: white;
	background-color: #5892ef;
}

.postflair,
.selflair {
	border-color: #00bbff !important;
	border-radius: 6px;
	background: #00bfff !important;
}

.selflair:hover,
.selflair:focus {
background: #32CBFF !important;
}

.pure-button.btn-preview {
	background-color: #62CB62;
	color: white;
	border: 2px solid white;
}

body .cmnts2 {
	color: white !important;
}

#postcontent a[href="#spoiler"],
#postcontent a[href="#spoiler"]:visited,
.cpreview-content a[href="#spoiler"],
.cpreview-content a[href="#spoiler"]:visited,
.commblock .content a[href="#spoiler"]:visited,
.commblock .content a[href="#spoiler"] {
	background-color: black !important;
	color: black !important;
}

#postcontent a[href="#spoiler"]:focus,
#postcontent a[href="#spoiler"]:hover,
.cpreview-content a[href="#spoiler"]:focus,
.cpreview-content a[href="#spoiler"]:hover,
.commblock .content a[href="#spoiler"]:focus,
.commblock .content a[href="#spoiler"]:hover {
	color: white !important;
}

.nsfw {
	border-color: white;
	color: white;
	background-color: #e22;
}

.post .domain,
.post .domain:visited {
	color: #deeff4 !important;
}

.post .domain:hover,
.post .domain:visited:hover,
#remove-flair:hover,
.closemsg:hover {
	color: rgb(179,255,255) !important;
}

.poal-logo {
	filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(171deg) brightness(206%) contrast(101%);
}

.poal-logo:hover {
	filter: hue-rotate(-30deg) brightness(570%);
}

.subinfomobile a {
	font-weight: bold;
}

body .sidebar-on {
	background: #0073e6;
}

/* Optional: You can add a banner to the top of your Poal.co sub.
 * Replace banner1 with the name of your banner file.
 *
 * .subbanner, .subbannerm {
 * 	background: url(%%banner1%%) no-repeat;
 * 	height: 16vw;
 * 	width: 100wv;
 * 	background-size: cover;
 * 	border-bottom: 1px solid white;
 * }
 */
 
/* Optional: You can remove the title from the non-mobile sidebar and
 * the top of the mobile page if you find it unnecessary because you're
 * using a banner.
 *
 * .mobile-show .subinfomobile a, .mobile-show .subinfomobile br {
 * 	display: none;
 * }
 *
 * @media only screen and (min-width: 600px) {
 * 	.subinfo a {
 * 		display: none;
 * 	}
 * }
 */

/* Dark Mode */

/* Optional: You can add a banner specialized for the dark theme.
 * Replace banner2 with the name of your banner file.
 *
 * .dark .subbanner, .dark .subbannerm {
 * 	background: url(%%banner2%%) no-repeat;
 * 	background-size: cover;
 * }
 */

body.dark g {
	fill: white !important;
}

body.dark #CollapseExpandPici.sbm-post.pici-button {
	background: none;
	color: #ff8f02 !important;
}

.dark .subinfo a,
.dark .comments-block .bottombar.links li a {
	color: #00bbff !important;
}

.dark .subinfo a:hover,
.dark .subinfo a:focus,
.dark .commenthead a:focus,
.dark .commenthead a:hover,
.dark .comments-block .bottombar.links li a:focus,
.dark .comments-block .bottombar.links li a:hover {
	color: #fff !important;
}

.dark .sbm-post.pure-button {
	color: #00bbff;
	background-color: rgba(51, 51, 51, 0.5) !important;
	border: none;
}

.dark #pexpand.sbm-post.pure-button {
	color: #00bbff !important;
}

.dark #pexpand.sbm-post.pure-button:hover,
.dark #pexpand.sbm-post.pure-button:focus {
	color: #fff !important;
}

.dark .moderators ul li a {
	color: #bbb;
}

.dark .moderators ul li a:hover,
.dark .moderators ul li a:focus {
	color: #fff;
}

body.dark .post .post-heading .title:link,
body.dark .post .post-heading .title:visited,
.dark .createdby a {
	color: #0bf !important;
}

body.dark .post .post-heading .title:hover,
body.dark .post .post-heading .title:focus,
.dark .createdby a:focus,
.dark .createdby a:hover {
	color: #fff !important;
}

body.dark .expandotxt a:link,
body.dark .expandotxt a:visited,
.dark .dropdown .dropbtn {
	color: #00bbff !important;
}

body.dark .expandotxt a:hover,
body.dark .expandotxt a:focus {
	color: #fff !important;
}

body.dark #postcontent,
body.dark article.comment,
body.dark .dropdown .dropbtn {
	background-color: #191919 !important;
}
body.dark .dropdown .dropbtn:focus,
body.dark .dropdown .dropbtn:hover {
	background: #565656 !important;
	color: #fff !important;
}

.dark .links li a {
	color: #e0e0e0;
}

.dark .links li a:hover,
.dark .links li a:focus {
	color: #fff;
}

.dark .pure-form textarea:focus {
	border-color: #444;
}

body.dark .wholepost #postcontent a:not([href="#spoiler"]):link,
body.dark .wholepost #postcontent a:not([href="#spoiler"]):visited,
.dark .cmpreview.canclose a:not([href="#spoiler"]):link,
.dark .cmpreview.canclose a:not([href="#spoiler"]):visited,
.dark .commblock .content a:not([href="#spoiler"]):link,
.dark .commblock .content a:not([href="#spoiler"]):visited,
.dark .cmnts2 a {
	color: #00bbff !important;
}

body.dark .wholepost #postcontent a:hover,
body.dark .wholepost #postcontent a:focus,
body.dark .wholepost #postcontent a:visited:hover,
body.dark .wholepost #postcontent a:visited:focus,
.dark .cmpreview.canclose a:focus,
.dark .cmpreview.canclose a:hover,
.dark .commblock .content a:focus,
.dark .commblock .content a:hover,
.dark .cmnts2 a:focus,
.dark .cmnts2 a:hover {
	color: #fff !important;
}

.dark #postcontent textarea,
.dark .commblock textarea,
body.dark .sidebarlists,
body.dark .post .author,
body.dark .combar,
.dark a.comamount:hover,
.dark .comment .content {
	color: white;
}

.dark a[href="#spoiler"]:link,
.dark article.comment a[href="#spoiler"]:visited {
    background-color: #050505 !important;
    color: #050505 !important;
}

body.dark a[href="#spoiler"]:hover,
body.dark a[href="#spoiler"]:focus,
.dark .cmpreview.canclose a[href="#spoiler"]:hover,
.dark .cmpreview.canclose a[href="#spoiler"]:focus,
.dark article.comment a[href="#spoiler"]:focus,
.dark article.comment a[href="#spoiler"]:hover {
    color: #fff !important;
}

body .dark a.lv0, .dark .sidebar .author a.lv0 {
    fill: #00B4CE;
    color: #009cb3;
}

.dark a.lv2, .dark .sidebar .author a.lv2 {
    fill: #43a547;
    color: #37883a;
}

.dark a.lv6, .dark .sidebar .author a.lv6 {
    fill: #fee928;
    color: #e2cc01;
}

.dark a.lv20, .dark .sidebar .author a.lv20 {
    fill: #fbb308;
    color: #d39503;
}

.dark a.lv30, .dark .sidebar .author a.lv30 {
    fill: #fc6464;
    color: #f44b4b;
	text-shadow: none;
}

.dark a.lv50, .dark .sidebar .author a.lv50 {
    color: #8cf !important;
    border-left: 4px solid #4163ac;
    border-right: 4px solid #4163ac;
    border-radius: 15px;
    background-color: #4163ac;
}

.dark .sidebar .author a.lv100, .dark .wholepost a.lv100 {
	color: #cacaca !important;
}

.dark .pure-button,
.dark .pure-button.button-secondary {
	background-color: rgba(51, 51, 51, 0.5) !important;
	color: #0bf !important;
	border: none !important;
}

.dark .pure-button:focus, .dark .pure-button:hover,
.dark .pure-button.button-secondary:focus, .dark .pure-button.button-secondary:hover {
	background-color: rgba(255, 255, 255, 0.16) !important;
	color: #fff !important;
}

body.dark a[class^="lv"]:hover {
	color: #bbb !important;
}

body.dark .editbar a:hover path {
	fill: #fff !important;
}

.dark .sbm-post.pure-button:hover {
	background-color: rgba(255, 255, 255, 0.16) !important;
}

.dark .sbm-post.pure-button:hover path,
.dark .dropdown-menu a:hover path,
.dark .expando:hover svg path,
.dark a.comamount:hover path,
.dark .sidebarlists .pure-button-group .pure-button:hover .sbm-icon svg,
.dark .sidebarlists .pure-button-group .pure-button:focus .sbm-icon svg {
	fill: #fff;
}

.dark .footer {
	background-color: #222;
	color: #00bbff !important;
}

body.dark .footer a,
.dark .sidebar a:link,
.dark .sidebar a:visited,
.dark .loadchildren {
	color: #00bbff;
}

.dark .footer a:focus,
.dark .footer a:hover,
.dark .sidebar a:hover,
.dark .sidebar a:focus,
.dark .loadchildren:hover,
.dark .loadchildren:hover,
body.dark .sidebar h4 {
	color: #fff;
}

.dark .post:nth-child(2n) {
	background-color: #181818;
}

.dark .usermenu,
.dark .pure-menu .motto,
.dark a.comamount {
	color: #0bf;
}

.dark .usermenu:focus,
.dark .usermenu:hover {
	color: #fff !important;
}

.dark .expando svg path,
.dark .p-icon path,
.dark .commenticon svg path,
body.dark .editbar a path,
.dark .dropdown-toggle.moremenu path,
.dark .sidebarlists .pure-button-group .sbm-icon svg,
body.dark .iconlinktxt path {
	fill: #0bf;
}

.dark .separator, .dark .links .separator {
	border-left: 1px dotted #0bf !important;
}

.dark .links a,
.dark #postscore,
.dark #comcount a,
.dark #topbar a,
.dark #hiddensubs li a,
body.dark #remove-flair,
body.dark .closemsg {
	color: #0bf !important;
}

.dark .post .domain,
.dark .post .domain a:visited {
	color: #029bd3 !important;
}

.dark .post .domain:hover,
.dark .post .domain a:visited:hover,
.dark .comments-block #comcount a:hover,
.dark .comments-block #comcount a:focus,
.dark .links .comcombo a:hover {
	color: #fff !important;
}

.dark .links a:hover,
.dark #topbar a:hover,
.dark #hiddensubs li:hover a {
	color: #fff !important;
}

.dark .links a:hover svg path,
.dark .links .expando:hover svg path,
.dark #chtitle svg path,
.dark .dropdown-toggle.moremenu:hover path,
.dark .dropdown.dropdown-menu a:hover path,
.dark #usermenu-content a:hover path {
	fill: #fff !important;
}

.dark .wholepost #postcontent {
	color: #fff !important;
}

.dark #usermenu-content,
.dark #hiddensubs {
	background-color: #262626 !important;
}

.dark .dropdown-content, .dark .dropdown-content a.pure-button:hover {
	background-color: #0bf !important;
}

.dark #usermenu-content a:hover,
.dark #hiddensubs li:focus,
.dark #hiddensubs li:hover {
	background-color: rgba(255,255,255,.12) !important;
}

.dark #poalservices a:link,
.dark #poalservices a:visited {
	color: #fff !important;
}

.dark #sortbuttons .pure-button-primary {
	background-color: rgba(51, 51, 51, 0.5) !important;
	color: #0bf !important;
}

.dark .links .red-confirm,
.dark .links .red-confirm a,
.dark .comments-block .bottombar.links .red-confirm a {
	text-shadow: none !important;
	color: #fc6464 !important;
}

.dark .red-confirm a:hover,
.dark .red-confirm a:focus,
.dark #remove-flair:hover,
.dark .closemsg:hover {
	color: #fff !important;
}

.dark #sortbuttons .pure-button-primary:hover {
	background-color: rgba(51, 51, 51, 0.8) !important;
}

.dark .dropdown-toggle.moremenu:hover {
	background-color: #1e1e1e;
}
.dark .poal-logo {
	filter: hue-rotate(-30deg) brightness(160%);
}

.dark .poal-logo:hover {
	filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(171deg) brightness(206%) contrast(101%);
}

body.dark a.ppv {
	color: #7CFC00 !important;
}

body.dark a.ddv {
	color: #fc6464 !important;
}

body.dark .postflair,
body.dark .selflair {
	border-color: #444 !important;
	border-radius: 6px;
	background: #444 !important;
}

body.dark #postflairs {
	background-color: #222;
	border-color: gray;
}

body.dark .selflair:hover,
body.dark .selflair:focus,
body.dark .dropdown-content a.pure-button {
	background-color: #555 !important;
}

.dark .th-subbar.pure-u-1 {
	background-color: #101010;
    border-bottom: 1px solid #fff;
}

body.dark .subinfomobile a,
body.dark .mobile-show .sbm-post.pure-button {
	color: #0bf !important;
}

body.dark hr {
	border-bottom: 2px dashed white;
}

.dark .editbtns .separator {
	border: none !important;
}

.dark #chpop a {
	color: #bbb;
}

.dark #chpop a:hover {
	color: #fff;
}

.dark #chsend {
	color: white;
}